<!DOCTYPE html>
<html>
{% include 'head.html' %}

<body>
    <section class="container">
        <h1>Tweet Analyse</h1>
        <div class="search-bar">
            <form method="POST">
                <input type="text" name="phrase" placeholder="Enter a phrase to see if is positive or negative" />
                <input type="submit" value="Submit" />
            </form>
        </div>
        <h2>Enter a phrase to see if it's a good or bad <span>review</span></h2>
    </section>
    <section class="background">
        <div class="bg-1"></div>
        <div class="bg-2"></div>
    </section>
    <p class="powered">Powered with <span>&#10084;&#65039;</span> by &#128056;'s team</p>
</body>

</html>