<!DOCTYPE html>
<html lang="en">
    {% include 'head.html' %}
<body class="stars-page">
    <a href="{{ url_for('home') }}" class="back"><span class="material-icons">arrow_back</span>Retour</a>
    <h1>{{prediction.name}}</h1>
    <h2>{{prediction.title}}</h2>
    <div class="container-img-star">
        <p>{{prediction.text}}</p>
        <iframe width="1500" height="500" src="https://www.youtube.com/embed/{{prediction.link_video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
    <p>Pour en savoir plus vous pouvez consulter la page <a href="{{prediction.link_wikipedia}}">Wikipedia</a></p>
    <div class="container-images-multiple">
        <div style="background-image: url('{{prediction.img_link_1}}');"></div>
        <div style="background-image: url('{{prediction.img_link_2}}');"></div>
        <div style="background-image: url('{{prediction.img_link_3}}');"></div>
        <div style="background-image: url('{{prediction.img_link_4}}');"></div>
    </div>
</body>
</html>