<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}

<h1>Tweet Analyse</h1>

<body class="stars-page">
    <a href="{{ url_for('home') }}" class="back"><span class="material-icons">arrow_back</span>Retour</a>

    <h2 class="first-sub-title"><span class="text-orange">Tweet Id de l'entreprise:</span> {{prediction.data[1]}}</h2>
    <h2><span class="text-orange">Nous avons récupérer: </span>{{prediction.data[2]}} tweets</h2>
    <h2><span class="text-orange">Note moyenne positif: </span>{{prediction.data[0]}} </h2>
    <hr class="text-orange">
    <h2><span class="text-orange">TWEET</span></h2>
    <div class="tweet-container">
        {% for row in prediction.data[3] %}
        <p class="text-tweet-get">{{row}}</p>
        {% endfor %}
    </div>
    <hr class="text-orange">
    <img src="/plot.png" alt="my plot">
</body>

</html>